[2021-05-04 10:18] vthapar opened #50 "subctl diagnose: Add validation for service-discovery"

[2021-05-04 11:29] skitt opened #49 "subctl diagnose: support --kubecontexts"
In a similar fashion to `subctl verify`, it would be nice if `subctl diagnose` supported `--kubecontexts` where relevant, _e.g._ on `tunnels`.

[2021-05-12 15:59] tpantelis opened #54 "subctl gather: Create sub-directory for each cluster"
**What would you like to be added**:

For `subctl gather`, create a sub-directory for each cluster instead of embedding the cluster name  in the file name.

**Why is this needed**:

The consensus is this will make it easier to review and search the files when troubleshooting.

[2021-07-04 15:47] tpantelis commented on #50
bump

[2021-07-05 09:16] skitt commented on #49
This is still relevant.

[2021-12-16 14:41] skitt opened #53 "subctl gather needs to be able to access the broker without credentials from the Submariner CR"
Once we start deploying Submariner using only secrets to store access tokens, `subctl gather` won’t be able to directly use the information in the Submariner CR to access the broker. It will either have to retrieve the appropriate secret itself, or check to see whether one of the contexts it has access to corresponds to the broker.

[2021-12-20 12:39] ghost commented on #49
The documentation suggest the '--kubecontext' on for instance the show and export (see https://submariner.io/operations/deployment/subctl/) but the standard subctl install, or the dev package, don't seem to understand that option.
Is this scheduled for a next build?

(The go build complains on missing deps, so I could not try that).

[2022-01-11 09:32] manosnoam opened #17 "Add code in subctl to use cloud-prepare API to deploy Azure"

[2022-01-20 12:15] nyechiel commented on #17
@vthapar I think we already have an issue to track this?

[2022-02-03 14:30] skitt opened #52 "Add support for BrokerK8sInsecure to subctl"
Submariner can disable certificate verification when contacting the broker; this is configured using `BrokerK8sInsecure` in the `Submariner` object. `subctl` should allow enabling this, and apply the setting to itself when contacting the broker.

[2022-02-08 12:00] maayanf24 opened #51 "Add results of subctl diagnose to new Prometheus metrics"
**What would you like to be added**:
The following metrics should be added and populated while running `subctl diagnose`:
* submariner_diagnose_errors Total count of error detected, label: cluster-name: counter, will only go up, +1 for each
 error detected by running `subctl diagnose`
* submariner_k8s_version_support K8s version supported label: cluster-name(1 - for true, 0 - for false)
* submarin

[2022-02-15 14:25] dfarrell07 commented on #50
This should also cover `diagnose`. @vthapar is happy to mentor someone on this.

[2022-02-17 18:36] nyechiel commented on #51
@maayanf24 @vthapar how critical this is for 0.12/ACM 2.5? If it is, let's focus on this and also ensure that https://github.com/submariner-io/submariner-operator/pull/1790 is being merged as early as possible.

[2022-02-21 07:41] maayanf24 commented on #51
@Jaanki mentioned that submariner-io/submariner-operator#1790 will not be merged for 0.12, so I removed the dependency

[2022-02-23 20:54] nyechiel commented on #51
@maayanf24 any update on this?

[2022-02-24 04:53] nyechiel commented on #52
@skitt I assume this should be moved out of 0.12?

[2022-02-24 11:49] maayanf24 commented on #51
this is not a must for 0.12

[2022-02-28 11:01] Jaanki opened #139 "Operator deployment should fail if any resource is not created"
**What happened**:
submariner deployment went through fine even if SAs/roles/RBs/cluster roles/cluster role binding was not created for operator/submariner/LH.

**What you expected to happen**:
It should have failed the instance when one of the resources for any of the services was not created.

**How to reproduce it (as minimally and precisely as possible)**:
See https://github.com/Jaanki/submari

[2022-03-01 15:50] skitt opened #48 "The diagnose container shouldn’t need a cluster role"
The RBAC added in submariner-io/submariner-operator#1812 includes a cluster role; but that shouldn’t be necessary to run `subctl diagnose`. A plain role tied to a specific namespace should be sufficient.

[2022-03-02 05:13] vthapar commented on #48
Diagnose requires pod creation permissions in two namespaces:

1. `submariner-operator` This is namespace where diagnose pod is created by the Job. Without this Job will fail to create Pod.
2. `default` Diagnose creates pods in `default` namespace for firewall test. Without this permission, firewall test will fail.

Possible solutions:

1. Create firewall pod in `submariner-operator` namespace ins

[2022-03-04 13:07] skitt opened #47 "subctl verify reports failure if an AfterSuite fails"
[code]

This particular clean-up probably shouldn’t report an error if it fails to find the resource it’s trying to remove.

[2022-03-04 13:23] skitt opened #73 "On OpenShift, none of the Globalnet metrics show up"
I set up three clusters (one broker, two joined clusters) running OpenShift, and installed Submariner with Globalnet. This can be confirmed by looking at the Cluster objects:

[code]

However, none of the Globalnet metrics show up in OpenShift monitoring:

![Screenshot from 2022-03-04 14-22-06](https://user-images.githubusercontent.com/2128935/156770942-7a14f312-1ddf-4707-a984-74ea870beca4.png)

[2022-03-04 13:36] skitt opened #46 "subctl diagnose firewall inter-cluster fails with Globalnet"
I’m not sure about Globalnet being the reason, but it worked on the same clusters when Submariner was installed without Globalnet.

[2022-03-04 14:37] skitt opened #30 "subctl uninstall doesn’t remove the Globalnet ConfigMap"
I installed Submariner with Globalnet, then uninstalled it, and re-installed it without requesting Globalnet. However, joining the clusters showed that Globalnet was enabled:

`subctl uninstall` on the broker should remove the broker’s Globalnet ConfigMap.

Note that even if one wouldn’t expect to disable Globalnet after uninstalling Submariner, the ConfigMap preserves the IP allocations which mig

[2022-03-04 19:21] sridhargaddam commented on #46
Did you use "subctl uninstall ...." before redeploying with Globalnet?

Also, can you please attach the diagnose output.

[2022-03-07 08:00] mkolesnik opened #45 "`subctl gather` - discovery.k8s.io/v1beta1 EndpointSlice is deprecated in v1.21+"
When running in a deployment that has service discovery enabled, this warning is produced by the API:
`Warning: discovery.k8s.io/v1beta1 EndpointSlice is deprecated in v1.21+, unavailable in v1.25+; use discovery.k8s.io/v1 EndpointSlice`

We should switch to using `discovery.k8s.io/v1` once we drop support for K8s 1.20

**What happened**:

**What you expected to happen**:

**How to reproduce it (a

[2022-03-07 08:04] skitt commented on #46
Yes, I ran `subctl uninstall` on all the clusters involved, and it completed successfully.

I no longer have it, but it didn’t find anything wrong (apart from what’s in the output above). I have the `subctl gather` output if that’s any use. I can re-run the scenario to see if I reproduce the problem!

[2022-03-07 08:42] mkolesnik commented on #47
It's not clear where the error happened, do you have more logs or is this all there is?

[2022-03-07 08:45] skitt commented on #45
This is a duplicate of https://github.com/submariner-io/lighthouse/issues/576.

[2022-03-07 09:09] mkolesnik commented on #45
No since this is about switching calls in `subctl` while the one you mentioned is about Lighthouse itself

[2022-03-07 09:19] skitt commented on #47
I don’t have any more logs, but I think this is happening in `GatewayCleanup`.

[2022-03-07 09:21] skitt commented on #45
Ah yes, there are separate references in `subctl gather` which aren’t transitive through Lighthouse. In any case this depends on https://github.com/submariner-io/lighthouse/issues/576 (I’ve updated the description).

[2022-03-07 09:32] mkolesnik commented on #47
OK ill try to dig in it, since from the failure you posted the only two locations are too general.

Also seems a bit weird that it didn't find the node? My guess is that it's transient (and rare) since we don't see it in CI so I wonder what was going on at the time, was cleanup running?

[2022-03-07 12:12] sridhargaddam commented on #30
When the cluster is used as Broker as well as managedCluster, the `subctl uninstall ...` command [deletes the BrokerNamespace](https://github.com/submariner-io/submariner-operator/blob/a1dbdeebe3c7f39a14784d353c81569307dc740f/pkg/uninstall/all.go#L74) which in-turn should delete the globalnet ConfigMap.

Are you seeing this problem on **Broker only** Cluster or even on a cluster which is both Brok

[2022-03-07 12:18] skitt commented on #47
Yes, I’m not sure why this happened; I wasn’t running cleanup at the time. The main issue I have is that failing to unlabel the node shouldn’t fail if the node no longer exists.

[2022-03-07 12:40] skitt commented on #30
This was on a broker-only cluster, ACM-style.

[2022-03-08 11:25] sridhargaddam commented on #46
@skitt I'm moving it to generic backlog as we are not able to easily reproduce the issue.

[2022-03-08 11:54] vthapar commented on #48
`subctl diagnose firewall` has an option to specify namespace to create pods in, but it is not available for `subctl diagnose all`. This makes it difficult to use from a Pod running with `all` option. Proper fix would be to make the `namespace` flag available for `all` option too and then use it to create pods in operator namespace. That we can use the existing role to create Pods in operator name

[2022-03-08 14:10] nyechiel commented on #73
Not going to be fixed for 0.12.0. I have opened https://github.com/submariner-io/submariner-website/issues/703 to ensure we document this as a known issue for now.

[2022-03-08 17:38] skitt opened #44 "Fail `deploy broker` if the broker already exists"
**See the comment below for updated details.**

The original issue was:

After uninstalling Submariner, I re-installed it, with Globalnet enabled:

[code]

Everything seemed to go well, however joining a cluster fails to enable Globalnet:

[code]

Looking at the GN ConfigMap shows that GN is disabled:

[code]

Ideally, in these circumstances, broker deployment would override the ConfigMap; if that

[2022-03-08 17:44] skitt opened #43 "subctl join’s --globalnet flag no longer seems useful"

[2022-03-09 08:30] sridhargaddam commented on #73
Globalnet pod exposes metrics on [TCP/8081](https://github.com/submariner-io/submariner/blob/ba449531a369f27541a3d9fcd197e77868c9aac7/pkg/globalnet/main.go#L144) and this port is not configured as part of cloud_prepare, hence we are  unable to see the Globalnet metrics. When I manually opened the port, I am able to see the metrics supported from Globalnet. The fix needs to be implemented in cloud-

[2022-03-09 08:52] sridhargaddam commented on #73
The necessary change has to be done in "subctl cloud prepare aws/gcp/rhos/xxx" utility to allow reading the additional port. This can be done either by modifying the current `--metrics-port` flag to allow multiple values (care has to be taken about backward compatibility issues) or by introducing a new metrics flag for Globalnet metrics.

[2022-03-09 08:57] sridhargaddam commented on #73
Along with this, we also need changes in `subctl diagnose ...` to verify if the Globalnet metrics port is configured.

[2022-03-09 08:59] sridhargaddam opened #42 "subctl diagnose should validate Globalnet metrics port."

[2022-03-09 09:00] sridhargaddam commented on #73
Reported a separate issue to track this - submariner-io/subctl#42

[2022-03-09 09:22] mkolesnik commented on #73
Should probably change flag in subctl to receive multiple ports instead of adding a new flag, default should remain 8080 unless we expect most of the deployments to use globalnet in whyich case we can add it to default in the future

[2022-03-10 14:29] mkolesnik opened #41 "Add gateway node detection to `subctl diagnose`"
**What would you like to be added**:
Diagnostics can detect that we have at least one healthy node labeled with the expected label.
If it can detect that the node has an external IP that would be also good.

**Why is this needed**:
This will make it easier for admins to identify cases when for some reason (mis-configuration, some other error) there's no healthy nodes that are labeled as gateway an

[2022-03-10 14:33] skitt commented on #41
The `submariner_gateways` metric can be used for this; administrators can configure alerts based on its value.

[2022-03-14 07:51] mkolesnik opened #40 "`sbuctl join` not detecting dedicated gateway being deployed on AWS"

[2022-03-14 09:25] mkolesnik opened #39 "`subctl verify` doesn't handle multiple kubeconfig files separated by comma"

[2022-03-14 10:14] mkolesnik opened #38 "`subctl verify` is dumping client API warnings throughout the run"
**What happened**:
While running `subctl verify` these messages pop up:
[code]

**What you expected to happen**:
We should print them in aggregate, similar to submariner-io/submariner-operator#1910

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- Gather information (use `s

[2022-03-14 10:52] skitt commented on #39
The separator for kubeconfigs is “:”, not “,”, same as for the `KUBECONFIG` variable. The documentation should indicate that...

[code]

[2022-03-14 11:49] mkolesnik commented on #39
The documentation should indeed but from a UX perspective we should be consistent with `kubecontexts` flag and convert commas to colons internally.

BTW when using colon separator theres a different issue where it can only access one cluster.

[2022-03-14 12:00] skitt commented on #39
Agreed (I’d misread this earlier).

It works for me, the command above is what I used for my tests...

[2022-03-14 14:49] mkolesnik opened #29 "`subctl uninstall` deleted the broker even if it's used"
**What happened**:
Deployed 2 clusters on AWS (but this will probably reproduce on KIND), mkolesni-0.12-testday1 had the broker + submariner and mkolesni-0.12-testday2 joined.
When running `subctl uninstall` on mkolesni-0.12-testday1 saw the following:

[code]

Then when trying to re-join cluster1 I got:
[code]

**What you expected to happen**:
It this case `mkolesni-0.12-testday2` was still joine

[2022-03-14 15:06] skitt commented on #29
`subctl uninstall` isn’t `subctl unjoin`, it’s intended to remove everything Submariner-related from the target cluster...

From a UX perspective it would be better to warn the user if `uninstall` sees that there are connected clusters.

[2022-03-14 15:14] mkolesnik commented on #39
IDK when I run with the colon I get an error "unauthorized" but when running with two configs in arguments it works.

The error:
[code]

[2022-03-14 15:19] skitt commented on #39
Are your kubeconfigs valid for combined use? You need to check that their contents have unique names (in particular, the user). I use

    yq -i '.contexts[0].context.user = "admin-'$c'" | .contexts[0].name = "admin-'$c'" | .users[0].name = "admin-'$c'" | .current-context = "admin-'$c'"' awsocp${c}/auth/kubeconfig

where `c` is set to the appropriate value (`h`, `1` or `2` in my setup).

[2022-03-15 08:57] mkolesnik commented on #39
That must be it, but this isn't documented entirely on the [AWS guide](https://submariner.io/getting-started/quickstart/openshift/aws/) - I updated the context name and current context as it detailed, but didn't touch the user name as it wasn't specified.

I opened a bug to fix this doc - https://github.com/submariner-io/submariner-website/issues/707

[2022-03-15 15:03] mkolesnik commented on #29
From the eyes of a "user" this seems to me the same as "unjoin", what's the distinction?

Also most of the times uninstall == unjoin, except for this case where broker is colocated on a member cluster.

Also on the epic itself it's discussed as "unjoin" so I have to disagree with your distinction.
https://github.com/submariner-io/enhancements/issues/50

[2022-03-15 15:29] tpantelis commented on #29
Actually the epic refers to both terms "unjoin" and "uninstall" w/o defining a distinction.  I take `uninstall` to mean remove everything Submariner-related as @skitt mentioned which was the ask for the epic, at least FWIU. Perhaps there's also a use case for just "unjoining" a cluster w/o removing the colocated broker, in which case I think it makes sense to prompt the user before removing the br

[2022-03-17 16:09] skitt opened #37 "Handle default namespaces in subctl"
kubeconfigs can specify a default namespace; whenever `subctl` needs a namespace, if none is specified by command-line flags, it should use the default namespace in the current context, _i.e._ the namespace set with

[code]

or variants thereof.

[2022-03-21 13:53] sridhargaddam commented on #46
In case we are unable to reproduce this issue, can we close it?

[2022-03-21 13:56] sridhargaddam commented on #44
Seems like uninstall is not cleaning up the configMap.

[2022-03-21 14:32] skitt commented on #46
Yes, of course!

[2022-03-22 16:14] sridhargaddam opened #36 "subctl gather should collect the output of iptables/mangle table"
Currently `subctl gather ...` is not collecting the output of mangle table of iptables which contains the MTU flows. We can collect this information from the Gateway node alone.

[2022-03-28 09:03] vthapar opened #35 "subctl gather should have option to output to stdout"
**What would you like to be added**:
Add option to `subctl gather` to output results to stdout instead of a file.

**Why is this needed**:
This will allow our CI/CD to run `subctl gather` as part of post-mortem, instead of using custom shell scripts. This way, we will not only be able to test `subctl gather` as part of CI/CD, but any newer additions to data required to troubleshoot will not requir

[2022-03-28 13:31] mkolesnik commented on #41
@mkolesnik to discuss with @skitt when this happens

[2022-04-05 11:18] cgruver opened #34 "`subctl diagnose firewall inter-cluster` references a hard-coded image: `quay.io/submariner/nettest:devel`"
The image used for testing the network appears to be hard coded:

`quay.io/submariner/nettest:devel`

I have Submariner `v0.12.0` installed on set of 3 OKD 4.10 clusters.  These clusters are disconnected from the internet.

I am able to successfully install and configure Submariner using the `--repository ${PRIVATE_REGISTRY}/submariner --version ${SUBMARINER_VER}` options.

These options do not ap

[2022-04-05 12:14] tpantelis commented on #30
We obtain the broker namespace from the `Submariner` (or `ServiceDiscovery`) CR. The problem is that on a broker-only cluster the `Submariner` CR doesn't exist. In that case we could allow the user to pass the broker namespace (or prompt) and, otherwise, assume the default namespace.

[2022-04-05 13:32] dfarrell07 commented on #34
"So we need this code to honor the `--version` and `--repo` flags" - @skitt

Discussed on the PR/Issue scrub, seems valid thanks for reporting. :+1:

[2022-04-13 17:17] tpantelis opened #31 "`subctl uninstall` times out if the operator isn't running"
**What happened**:

`subctl uninstall` timed out while deleting the `ServiceDiscovery` resource:

[code]

**What you expected to happen**:

This can happen if the operator isn't running. Ideally it should check that the operator deployment is installed and running. If not, then log a warning and force delete the resource by removing the finalizer.

**How to reproduce it (as minimally and precisely

[2022-04-14 10:30] sridhargaddam commented on #48
The `diagnose firewall ...` command spawns pods that run tcpdump. So if we are able to schedule the pods and successfully run them it should be fine.

[2022-04-22 15:19] Jaanki opened #33 "Add `show brokers` command"
**What happened**:
A recent addition was made to `subctl show all` to also show `broker` information. But there is no `subctl show brokers` command. The behaviour should be the other way round. `show all` is a mechanism to run each `show` command with a single command.

**What you expected to happen**:
Availability of `subctl show brokers` command.

**How to reproduce it (as minimally and precisel

[2022-05-01 09:36] tomer-shefler commented on #48
Hi Mike, you can add me as an assignee

[2022-05-02 08:31] mrgrieves8 commented on #48
Hi Mike, you can add me as an assignee

[2022-05-03 13:41] dfarrell07 commented on #33
Discussing on the PR scrub, this seems not-a-bug.

[2022-05-10 09:28] skitt opened #2 "README needs to be rewritten for subctl"
The README currently describes the operator; now that this repository is `subctl`-specific, the README needs to be updated accordingly.

[2022-05-10 09:30] Jaanki opened #3 "Remove operator specific code"
- [x] In particular, bundle, config, controllers, deploy, packagemanifests, package/*-operator*, scripts/operator*, bundle.Dockerfile directories/files.
- [x]  Change module name in go.mod to github.com/submariner-io/subctl and add a dependency on submariner-operator.
- [x]  Delete e2e-all-k8s.yml CI jobs.

Part of [Epic: Move subctl to its own repo](https://github.com/submariner-io/enhancements/i

[2022-05-10 15:15] arewm opened #32 "Move subctl releases away from a moving tag on the HEAD"
**What would you like to be added**:

The `subctl` releases should not be created based on tags. The only tags created should be valid SemVer used for tracking specific versions.

**Why is this needed**:
Not only is the `subctl` tag not valid SemVer, but it is also not static. If it is only needed for releases, can we move releases off of the tag so that there isn't additional confusion potentiall

[2022-05-10 15:18] skitt commented on #32
This would also avoid requiring `git fetch --tags --force` in clones.

[2022-05-11 17:45] Jaanki opened #10 "Use new subctl implementation"
Use subctl from `cmd` and not `pkg/subctl`

[2022-05-12 06:41] sridhargaddam opened #14 "Update subctl cloud prepare for gcp to support load-balancer mode"
Provide necessary description on how to configure the GCP cloud for load-balancer mode when using "subctl cloud prepare gcp ..."

[2022-05-12 07:42] maayanf24 opened #15 "`subctl uninstall` remove the wrong cluster"
**What happened**:
running `subctl uninstall output/kubeconfigs/kind-config-cluster2` removes cluster 1

[code]

**What you expected to happen**:
cluster2 should be removed

**How to reproduce it (as minimally and precisely as possible)**:
`subctl uninstall output/kubeconfigs/kind-config-cluster2`

**Anything else we need to know?**:

**Environment**:
kind, with globalnet
subctl version: 0.13.0-m1

[2022-05-12 08:11] maayanf24 commented on #15
same happens when running without globalnet, using vxlan cable driver.
same for running on Openshift with AWS:
`subctl uninstall cluster-b/auth/kubeconfig
? This will completely uninstall Submariner from the cluster "maafried-cluster-a". Are you sure you want to continue? No
`

[2022-05-12 10:11] sridhargaddam commented on #15
@maayanf24 According to the help, we have to use the --kubeconfig flag.

[code]

Can you try `subctl uninstall --kubeconfig output/kubeconfigs/kind-config-cluster2`

[2022-05-12 11:33] maayanf24 commented on #15
`--kubeconfig`  must be a mandatory flag, I run `subctl uninstall` twice without making any changes to `KUBCONFIG` and for each time the result is different:
[code]

[2022-05-12 15:48] #3 closed, assigned to tpantelis

[2022-05-13 07:14] skitt commented on #15
https://github.com/submariner-io/enhancements/pull/101 but it wasn’t approved ;-).

[2022-05-13 12:54] #10 closed, assigned to Jaanki

[2022-05-15 11:55] mkolesnik commented on #15
How does that make sense to make it mandatory?

It seems your initial mistake was thinking that the command accepts an argument, when  it clearly doesn't so it's not really a bug then IMO.

[2022-05-15 20:01] tpantelis commented on #15
yeah it's user error. The prompt also indicates which cluster it is uninstalling. But, to alleviate such user error, we could fail if an unexpected argument is provided.

[2022-05-16 07:00] mkolesnik commented on #15
That should be a general goal then, not just for uninstall, right?

[2022-05-17 05:54] sridhargaddam opened #27 "Meet emerging K8s pod security requirements"
While running subctl diagnose commands on an OCP 4.11 version, the following warnings were noticed. The command seems to run fine, but we have to tweak the Security Context to fix these warnings.

[code]

[2022-05-17 11:04] sridhargaddam commented on #27
Similar warnings are seen even when e2e tests are executed.

[code]

[2022-05-17 17:37] sridhargaddam commented on #46
Closing it as we are unable to reproduce it.

[2022-05-17 17:37] #46 closed, assigned to nobody

[2022-05-22 00:15] github-actions[bot] opened #63 "Broken link detected by CI"
Periodic link aliveness CI detected a broken link. Please see the [periodic job
results](https://github.com/submariner-io/submariner-operator/actions?query=workflow%3APeriodic) for details.

[2022-05-23 10:31] nyechiel commented on #27
@dfarrell07 this seems like a good candidate for you to look at with support from @skitt.

[2022-05-24 13:21] dfarrell07 commented on #73
@skitt will check if this is still an issue. - PR scrub

[2022-05-24 13:28] dfarrell07 commented on #38
While this particular warning will be fixed by https://github.com/submariner-io/subctl/issues/45, it seems the idea here is to group warnings better, so not closing as duplicate. - PR scrub

[2022-05-25 09:35] #2 closed, assigned to nobody

[2022-05-25 10:14] skitt commented on #73
This hasn’t been fixed.

[2022-05-25 10:17] nyechiel commented on #73
@maayanf24 I thought you are working on it?

[2022-05-25 14:55] maayanf24 commented on #73
I started to look into this, I have some implementation questions:
best option is to make flag `--metrics-port` accept multiple values.
should calling `subctl cloud prepare aws  --metrics-port 8081 ...` means that we add internal the default port? (8080)
or user must explicitly specify all ports if using the flag? `subctl cloud prepare aws  --metrics-port 8080 --metrics-port 8081...`

[2022-05-25 15:02] skitt commented on #73
I would make the default `8080,8081` so that things “just work” in the default case.

[2022-05-26 02:44] dfarrell07 commented on #27
I was trying to understand this by first focusing on the `query-iface-list` container's errors:

[code]

I thought we wanted to tweak the SecurityContext we create with that pod to add the required permissions, but digging I see we're already setting

https://github.com/submariner-io/subctl/blob/devel/pkg/diagnose/kubeproxy.go#L38

Which I thought would interact with this generic pod scheduling lo

[2022-05-29 11:57] cgruver opened #67 "`subctl join` v0.12.1 Throws x509: “kube-apiserver-lb-signer” certificate is not trusted"
With v0.12.1 of `subctl` x509 errors are thrown on a join attempt:

OpenShift (OKD) 4.10

[code]

[code]

Reverting to v0.12.0 resolves the issue:

[code]

[2022-05-30 16:06] sridhargaddam opened #80 "subctl diagnose firewall to validate if nat-discovery port is opened"
**What would you like to be added**:
Currently `subctl diagnose ...` command validates if metrics port (default TCP/8080) and tunnel port (default UDP/4500) are allowed on the gateway port. Similar validation should be done for Nat-discovery port as well.

**Why is this needed**:
If the nat-discovery port (default UDP/4490) is not opened, NAT discovery cannot happen and submariner-gateway falls ba

[2022-05-30 17:04] Jaanki opened #75 "REQUEST: New Committer rights request for Jaanki"
### GitHub Username
@Jaanki

### Code you are requesting Committer rights for
submariner-io/subctl

### Requirements
- [x] I have reviewed the contributor roles guidelines (https://submariner.io/community/contributor-roles/)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the submariner-dev e-mail list (https://groups.google.com/forum

[2022-05-30 19:06] sridhargaddam commented on #27
I think the reason we are seeing warning is because of the `PodSecurity` Admission controller which is introduced in K8s 1.23 as described [here](https://kubernetes.io/docs/concepts/security/pod-security-admission/).

I checked an OCP 4.11 deployment for the list of admission controllers that are enabled and see that `PodSecurity` is enabled. From a quick read on how to fix the warning, the docume

[2022-05-31 07:55] skitt commented on #75
+1 from me!

[2022-05-31 11:24] tpantelis commented on #75
+1

[2022-05-31 12:50] skitt commented on #27
Right, adding the `privileged` label is the correct fix; see https://lists.corp.redhat.com/archives/aos-devel/2022-May/000798.html for details, and https://github.com/openshift/cluster-kube-apiserver-operator/pull/1234/files for an example.

[2022-06-01 11:57] #17 closed, assigned to Jaanki

[2022-06-01 13:10] sridhargaddam commented on #75
+1

[2022-06-02 08:47] #33 closed, assigned to Jaanki

[2022-06-06 13:48] #75 closed, assigned to Jaanki

[2022-06-08 06:29] sridhargaddam commented on #27
Thanks for confirming @skitt.

So, AFAICT we would need the following changes to fix the warning.
1. Label the `submariner-operator` namespace as part of its creation in submariner-operator
2. Submariner as part of e2e tests would create random namespaces and schedules the listener/client pods. The namespaces should be labelled accordingly.
3. Modify `subctl diagnose` to schedule various pods in `

[2022-06-08 08:10] nyechiel commented on #27
Thanks for the detailed analysis Sridhar. @dfarrell07 can you please prioritize this work? Let's get it done for 0.13

[2022-06-08 17:03] dfarrell07 commented on #67
I see there's a relevant-looking BZ open for `oc`: https://bugzilla.redhat.com/show_bug.cgi?id=2091771

They currently suspect a golang version bump to be the relevant change. We've also recently bumped our minimum golang version which updated various other dependencies (https://github.com/submariner-io/submariner-operator/commit/dca3cf2788d73804e027d513817ddcba52ab06c6), but I didn't expect that

[2022-06-08 17:12] dfarrell07 commented on #67
@MaxBab @manosnoam Do you see this error in OpenShift CI? Which OpenShift version are we testing with?

[2022-06-08 17:17] MaxBab commented on #67
@dfarrell07

The downstream testing is focused on integration of submariner with acm, which means that we are deploying by using addon and not subctl.

[2022-06-08 17:18] dfarrell07 commented on #67
Ah right, that makes sense thanks @MaxBab.

[2022-06-08 21:15] dfarrell07 commented on #27
I tried https://github.com/submariner-io/submariner-operator/commit/257083bbcb7f5ce8cdd44f90b3e86a77ed607118:

[code]

But testing locally that didn't seem to work:

[code]

[2022-06-09 07:33] skitt commented on #27
That file isn’t used by `subctl`; the namespace is created by https://github.com/submariner-io/subctl/blob/4a0035638495487418ebcedf62c5d58db9b5c70f/pkg/operator/ensure.go#L42 using https://github.com/submariner-io/subctl/blob/b47cf7f3b53d04c9a93ce69001c12e598c8620e3/pkg/namespace/ensure.go#L32 (whose documentation is wrong). The latter needs to be extended to support labels, and the former needs t

[2022-06-09 23:26] dfarrell07 commented on #27
Thanks @skitt, it's great to re-discover this stuff.

I'm now trying https://github.com/submariner-io/subctl/commit/7e88ce7fe977e676702c9181ee446064626eb0b4, which I think covers the "extend labels/pass labels" parts but not yet the upgrade idea.

But I'm still not seeing the labels in my local `make deploy`.

[code]

:thinking:

[2022-06-10 08:54] josecastillolema opened #89 "Option for recovering the broker-info.subm file from a running broker cluster"

[2022-06-10 11:05] #34 closed

[2022-06-10 14:32] vthapar opened #90 "OVN support in cloud prepare"
**What would you like to be added**:
Only open VxLan ports required if OVNKubernetes is the used CNI. This requires:

1. Detect if OVNKubernetes is the CNI
2. If yes, open the minimal set of ports.

**Why is this needed**:
When using OVNKubernetes as CNI we don't need to open all the vxlan ports in the cloud. So only open the vxlan ports required based on which CNI is used.

[2022-06-10 14:34] vthapar opened #91 "Update OVN commands in gather"
**What would you like to be added**:
Update OVN commands in gather to capture additional information:

1. Loadbalancer groups

**Why is this needed**:
Submariner LB groups are currently not captured in `subctl gather`

[2022-06-10 14:37] vthapar opened #92 "Add OVN diagnostics to diagnose"
**What would you like to be added**:
Check the following when running diagnose on clusters using OVNKubernetes as CNI

1. Detect if OVNK is the CNI
2. Check if `submariner-networkplugin-syncer` pod is running correctly.
3. Check if the OVN version is compatible with submariner.
4. ~~Check if all OVN resources were added correctly.~~ We don't do that for any CNI. Will be added later if needed.

**W

[2022-06-13 11:16] mudit000 opened #93 "submariner issue: x509: “kube-apiserver” certificate is not trusted"
**What happened**:
A)I have two Mac Laptops L1 & L2..both are on same home network...
B)I have kind cluster running on each Laptop
L1-->Kind cluster 1
L2-->Kind cluster 2

I wanted to use submarier to establish connectivity between these two clusters using submariner..

I installed operator successfully
<img width="600" alt="image" src="https://user-images.githubusercontent.com/20608498/173340123-

[2022-06-13 11:22] mudit000 commented on #93
I am following this page https://piotrminkowski.com/2021/07/08/kubernetes-multicluster-with-kind-and-submariner/

[2022-06-13 11:31] skitt commented on #93
Thanks for filing this!

Could you clarify the following?

* Where did you deploy the broker? L1 or L2?
* Were you able to join the cluster on the same machine, or did both L1 and L2 fail?
* What does the 192.168.1.154 IP address represent?

Could you run `subctl diagnose` and `subctl gather` on `kind-cluster-1` as well?

[2022-06-13 11:35] mudit000 commented on #93
Where did you deploy the broker? L1 or L2? -->Currently its only on L2
Were you able to join the cluster on the same machine, or did both L1 and L2 fail? i have still not started with L1...
What does the 192.168.1.154 IP address represent? this is api server IP

[2022-06-13 12:03] mudit000 commented on #93
kind-cluster-1 currently donot have anything..as per the page link i shared..i have started with kind-cluster-2

[2022-06-13 13:50] vthapar commented on #91
/assign @vthapar

[2022-06-13 13:50] vthapar commented on #92
/assign @vthapar

[2022-06-14 03:16] dfarrell07 commented on #27
I added some (currently-failing) tests for this: https://github.com/dfarrell07/subctl/pull/2/commits/a2384738a39caebe07f54fc392ebfe7cef6a79ef

And booked an office hours slot with Stephen to discuss more tomorrow.

[2022-06-14 10:59] nyechiel commented on #37
@skitt how urgent is this? can we move it out from 0.13?

[2022-06-14 10:59] nyechiel commented on #31
@tpantelis are you planning to work on it this week?

[2022-06-14 11:05] nyechiel commented on #45
@skitt @vthapar can you comment on how urgent is this one is for 0.13? If we want to get it in, this needs to happen this week.

[2022-06-14 11:06] nyechiel commented on #30
@tpantelis are you planning to work on it this week?

[2022-06-14 11:06] nyechiel commented on #29
@tpantelis are you planning to work on it this week?

[2022-06-14 11:25] vthapar commented on #45
This shouldn't be needed anymore. `gather.go` is already using the right version now. Probably whosoever moved code over fixed it.

https://github.com/submariner-io/subctl/blob/devel/internal/gather/servicediscovery.go#L24

[2022-06-14 11:28] #45 closed

[2022-06-14 11:42] tpantelis commented on #31
yes

[2022-06-14 11:43] tpantelis commented on #30
yes

[2022-06-14 11:43] tpantelis commented on #29
yes

[2022-06-14 12:15] #73 closed, assigned to maayanf24

[2022-06-14 17:13] dfarrell07 commented on #27
First issue was that we were not testing the version of subctl we were building. Stephen sent a fix here: https://github.com/submariner-io/subctl/pull/97

[2022-06-15 03:49] dfarrell07 commented on #27
I have this passing for greenfield: https://github.com/dfarrell07/subctl/pull/2

Still need to figure out how to write a mutate function to pass to `admiral/pkg/util.CreateOrUpdate` to add the labels if the namespace already exists to get upgrades working.

[2022-06-15 06:16] #91 closed, assigned to nobody

[2022-06-15 08:24] skitt commented on #27
It might be easier to use `sigs.k8s.io/controller-runtime/pkg/controller/controllerutil.CreateOrUpdate()`, see https://github.com/submariner-io/submariner-operator/blob/02579fcd094df9bbbf141d2b77c19d9558738e2a/controllers/helpers/helpers.go#L58

[2022-06-15 14:00] mikekuzak commented on #52
Tried subctl version: v0.13.0-m2, same issue
[code]

[2022-06-16 07:22] skitt opened #102 "In K8s 1.22/1.24 and later, SAs don’t automatically get a secret with a token"
`subctl` needs to create a number of service accounts, and relies on Kubernetes to create an associated secret and token. Starting with Kubernetes 1.22, secret/token generation is no longer guaranteed, and it is disabled by default starting with Kubernetes 1.24.

`subctl` needs to be fixed to create a secret after creating a service account, and wait for the token on the secret if necessary. See h

[2022-06-16 16:03] #29 closed, assigned to tpantelis

[2022-06-16 16:46] #30 closed, assigned to tpantelis

[2022-06-16 18:19] #90 closed, assigned to sridhargaddam

[2022-06-16 21:44] liggitt commented on #102
Alternatively, if a permanent token is not required, the [TokenRequest](https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/token-request-v1/) API is preferred for directly obtaining a time-bound token.

[2022-06-19 19:34] dfarrell07 commented on #27
I found the Admiral CreateOrUpdate to be easier to work with.

This PR in Admiral was necessary to add a resource.ForNamespaces function: https://github.com/submariner-io/admiral/pull/368

The main PR is ready for review and passing all tests, including upgrades: https://github.com/submariner-io/subctl/pull/105

This PR shows that the tests correctly fail without the fix: https://github.com/dfarre

[2022-06-20 07:38] #27 closed, assigned to dfarrell07

[2022-06-20 13:58] skitt commented on #52
Yes, this hasn’t been fixed yet.

[2022-06-21 06:53] vthapar commented on #102
Working on the fix, which is to create the Secret with relevant type and annotation. Currently semi blocked by lack of a 1.24.0 deployment to reproduce the issue and test the changes.

PR for K8s 1.24 support in kind https://github.com/submariner-io/shipyard/pull/825

[2022-06-21 13:07] #92 closed, assigned to vthapar

[2022-06-22 08:39] mkolesnik opened #115 "`subctl show brokers` not actually showing any useful information"
**What happened**:
I run `subctl show brokers` and get nothing useful.
[code]

**What you expected to happen**:
At least the spec from the defined broker should be shown (perhaps not in yaml), ie:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Im not sure if this is a bug or an enhancement :)
I think we could regard this as a bug, sin

[2022-06-22 09:27] sridhargaddam commented on #27
I verified this in 0.13.0-rc0 image and see that namespace has the required labels.

However, 2 and 3 above are still showing warnings with 0.13.0-rc0 image. Shall we report separate issues for them or use the same issue?

[2022-06-22 10:13] nyechiel commented on #27
Yes, can you please report individual issues and make sure they are being added to the 0.13 board? we need to review and decide if we should get them into rc1.

[2022-06-22 13:12] nyechiel commented on #115
Not a blocker for 0.13, but nice to have if we can improve the UX.

[2022-06-22 14:17] nyechiel commented on #102
@vthapar can you please share an update on this?

[2022-06-22 15:20] yboaron opened #117 "Subctl join fails (error updating the privileged SCC) on ROSA cluster"
**What happened**:

I tried to deploy Submariner on ROSA cluster using subctl :

subctl join --kubecontext <xx>  broker-info.subm  --clusterid aws-rosa  --load-balancer

Deployment failed with the following error :

Join error :

✗ Deploying the Submariner operator
 ✓ Created operator CRDs
 ✓ Created operator namespace: submariner-operator
 ✓ Created operator service account and role
Error deployi

[2022-06-22 15:34] sridhargaddam opened #118 "Meet K8s pod security requirements for subctl verify command"
**What happened**:
In K8s 1.23 PodSecurity Admission controller is introduced and OCP 4.11 enables this admission controller by default.
Because of this, when running `subctl verify ...` e2e tests, we see the following warnings.

[code]

**What you expected to happen**:
The Warnings should be fixed by labelling the namespaces created as part of "subctl verify ..." command with suitable labels.

Re

[2022-06-22 15:37] sridhargaddam opened #119 "Meet K8s pod security requirements for subctl diagnose command"
**What happened**:
In K8s 1.23 PodSecurity Admission controller is introduced and OCP 4.11 enables this admission controller by default.
While running `subctl diagnose ...` commands command, the following warnings are seen.

[code]

**What you expected to happen**:
The warnings should not be displayed. We can modify subctl diagnose to schedule various pods in submariner-operator namespace by defau

[2022-06-22 15:37] sridhargaddam commented on #27
The following issues are reported to track 2 and 3 above:
https://github.com/submariner-io/subctl/issues/119
https://github.com/submariner-io/subctl/issues/118

[2022-06-22 15:56] sridhargaddam opened #120 "subctl cloud prepare rhos to support credentials argument"
**What happened**:
Currently, `subctl cloud prepare ...` for AWS, GCP and Azure support option to specify the location of the credentials file.
Similar support should be extended even to rhos clusters.

Observed with submariner version 0.13.0-rc0 image

[2022-06-22 19:33] nyechiel commented on #118
This should not really affect any functionality, buy users are likely to complain about this. Assuming this is an easy fix, we should try and get it fixed for 0.13.

[2022-06-22 19:33] nyechiel commented on #119
This should not really affect any functionality, buy users are likely to complain about this. Assuming this is an easy fix, we should try and get it fixed for 0.13.

[2022-06-23 07:48] skitt opened #122 "Check whether subctl show should add platform information"
Now that Submariner ships images for multiple architectures, it would be useful for `subctl`’s “informative” commands to include the architecture used for each component.

[2022-06-23 07:50] skitt opened #123 "Add platform information to subctl gather"
Now that Submariner ships images for multiple architectures, it would be useful for `subctl`’s “informative” commands to include the architecture used for each component.

[2022-06-23 07:50] skitt opened #124 "Check whether subctl diagnose should add platform information"
Now that Submariner ships images for multiple architectures, it would be useful for `subctl`’s “informative” commands to include the architecture used for each component.

[2022-06-23 16:11] tpantelis commented on #118
I assume we need to add the same namespace labels as was done with https://github.com/submariner-io/subctl/pull/105/. If so, the test namespace is created in shipyard so https://github.com/submariner-io/shipyard/pull/847 should fix it.

[2022-06-27 05:55] tomer-shefler opened #129 "Error in running subctl diagnose from a pod - missing permissions."
**What happened**:
During subctl diagnose from inside a pod,
the test: checking sumariner pods test failed

• Checking Submariner pods  ...
 ✗ Checking Submariner pods
 ✗ Error obtaining Deployment ["submariner-lighthouse-agent" "deployments.apps \"submariner-lighthouse-agent\" is forbidden: User \"system:serviceaccount:submariner-operator:submariner-diagnose\" cannot get resource \"deployments\"

[2022-06-27 06:03] tomer-shefler opened #130 "Error in running subctl diagnose from a pod - self pod appears to be 'pending'"
**What happened**:
During subctl diagnose from inside a pod,
the test: checking sumariner pods test failed
✗ Pod ["submariner-diagnose-f4lcq" "Pending"] is not running. (current state is %!v(MISSING))

**What you expected to happen**:
The test was expected to succeed

**How to reproduce it (as minimally and precisely as possible)**:
Run subctl diagnose from a pod according to this manual:
https://

[2022-06-27 06:03] tomer-shefler commented on #130
@mkolesnik @vthapar

[2022-06-27 06:04] tomer-shefler commented on #129
@mkolesnik @vthapar

[2022-06-27 13:07] #118 closed, assigned to Jaanki, tpantelis

[2022-06-27 14:44] mkolesnik opened #131 "Make `subctl verify` output more useful"
**What would you like to be added**:
As a developer, and as an end user, I'd like to know which test is being verified and have a clearer print out which is more in line with how other `subctl` commands behave (e.g join, diagnose, etc).

e.g.
[code]

For printing more detailed information we have a `--verbose` flag which can print out the test specifics for each test

**Why is this needed**:
As an

[2022-06-27 16:34] #119 closed, assigned to Jaanki

[2022-06-28 09:45] caatclaudia opened #134 "Submariner Verification Failed"
I'm trying to deploy submariner in K3s, so I use this [documentation](https://submariner.io/getting-started/quickstart/k3s/) and I use the exact same commands (just add the label "`submariner.io/gateway=true`" on the nodes to the gateway could be deployed). But when I use the command `KUBECONFIG=kubeconfig.cluster-a:kubeconfig.cluster-b subctl verify --kubecontexts cluster-a,cluster-b --only servi

[2022-06-28 12:49] #115 closed, assigned to Jaanki

[2022-06-28 13:20] vthapar commented on #129
RBAC for diagnose pod was added in https://github.com/submariner-io/submariner-operator/commit/90af63ca0dde2d72b38a4971b1610b9ed129db90

This looks like during refactoring code to new subctl repo some of these changes were missed/lost.

[2022-06-28 13:22] vthapar commented on #130
`subctl diagnose` checks status of *all* pods in `submariner-operator` namespace. Sometimes diagnose pod's status is not updated by the time we check for pod status, resulting in this error. This is mostly harmless, but can confuse the users. Simple fix would be to ignore diagnose pod when checking status in diagnose.

[2022-06-29 09:46] mkolesnik commented on #130
can we only check pods with a certain known label?

or have a label to ignore pods by this check?

this would be much more explicit, and we can utilize k8s filtering instead of relying on pod names (which can obviously change)

[2022-06-29 19:11] #52 closed, assigned to nobody

[2022-06-30 09:18] mkolesnik opened #141 "Broker components for `subctl deploy-broker` should be a set"
Came across this when mucking about with `make deploy using=globalnet,lighthouse` in the operator repo.

**What happened**:
 The broker has components listed twice:

[code]

This is due to it being specified twice (which is its own bug):
[code]

**What you expected to happen**:
The components sent in the spec should be a set not an list.

**Anything else we need to know?**:
Not sure if this is can

[2022-06-30 11:31] #102 closed, assigned to vthapar

[2022-06-30 13:40] sridhargaddam opened #145 "Enhance subctl gather to collect the information of "RAW" table"
**What would you like to be added**:
As part of https://github.com/submariner-io/submariner/issues/1899, we will now be programming new iptable rules in the "raw" table. We should enhance "subctl gather ..." to collect this information while capturing the logs.

[2022-06-30 13:43] sridhargaddam opened #144 "Enhance "subctl uninstall ..." to remove the rules in "raw" table"
**What would you like to be added**:
As part of https://github.com/submariner-io/submariner/issues/1899, we will now be programming new iptable rules in the "raw" table. We should enhance "subctl uninstall  ..." command to delete these rules while uninstalling submariner from the cluster.

[2022-07-04 15:04] nyechiel commented on #15
I think we should close this and reopen if users complain. I always export the kubeconfig and run `subctl uninstall` without any flags and never faced any issue. Also, there is a clear output that indicates what's going to happen, so users should review before picking "yes".

[2022-07-05 05:46] nyechiel commented on #40
The title of the issue could be misleading; this is basically a timing issue.. I agree we can improve the UX, but the functionality is working as expected if you wait/re-run the `join` command after a few minutes.

[2022-07-05 08:10] sridhargaddam opened #149 "subctl diagnose firewall metrics reports failure occasionally"
**What happened**:
While running `subctl diagnose firewall metrics ...` command on an OCP 4.11 + OVN deployment, it was seen that it occasionally reports error even when the metrics port is opened in the firewall.

Success scenario:
[code]

Error scenario:

[code]

[2022-07-05 09:56] nyechiel commented on #42
@sridhargaddam @maayanf24 haven't we addressed this already?

[2022-07-05 13:55] maayanf24 commented on #15
had been discussed on scrub meeting and decided to close
can be reopen if needed

[2022-07-05 13:55] #15 closed, assigned to nobody

[2022-07-05 14:47] #149 closed, assigned to sridhargaddam

[2022-07-06 13:26] sridhargaddam commented on #149
Backport is handled and the necessary labels are added on the original PR.

[2022-07-06 15:14] sridhargaddam commented on #144
It turns out to be a regression in Kernel and the associated changes are now reverted in RHEL/CoreOS platforms. So no changes are required in Submariner.

[2022-07-06 15:14] #144 closed, assigned to sridhargaddam

[2022-07-06 15:14] sridhargaddam commented on #145
It turns out to be a regression in Kernel and the associated changes are now reverted in RHEL/CoreOS platforms. So no changes are required in Submariner.

[2022-07-06 15:14] #145 closed, assigned to sridhargaddam

[2022-07-08 10:19] #80 closed, assigned to sridhargaddam

[2022-07-08 10:32] sridhargaddam commented on #42
Yes, its fixed. Closing the issue.

[2022-07-08 10:41] sridhargaddam commented on #43
Yes that's correct @nyechiel. Although we do not recommend using a mixed deployment, if configured properly this flag allows Submariner to support some niche use-cases like centralised storage which needs access from tenant clusters. We should get some feedback from the team which requested this use-case before deprecating this flag.

[2022-07-12 13:26] dfarrell07 commented on #129
@tomer-shefler You might be interested in handling this yourself? It should be fairly clearly scoped, moving the RBAC from the operator to subctl.

[2022-07-12 13:29] dfarrell07 commented on #67
This may be related: https://github.com/submariner-io/subctl/issues/93

[2022-07-12 13:29] dfarrell07 commented on #93
This may be related: https://github.com/submariner-io/subctl/issues/67

[2022-07-12 18:02] sridhargaddam opened #158 "subctl join command to support specifying a custom nat-discovery-port"
**What would you like to be added**:
While preparing cloud using `subctl cloud prepare ...`, we have options to specify the custom `--nat-discovery-port`.
However, while installing submariner using `subctl join ...` command we do not have an option to specify the custom nat-discovery port.

**Why is this needed**:
To be consistent so that we can allow users to specify a custom nat discovery port.

[2022-07-13 06:36] sridhargaddam opened #159 "gather should collect the routes in table 100 when using VxLAN cable-driver"
**What happened**:
When Submariner is deployed with VxLAN cable-driver, the output of "subctl gather ..." does not include routes programmed in table 100 from the Gateway nodes. This is an important information which will help us while debugging any connection issues with VxLAN cable-driver.

[2022-07-13 07:31] nyechiel commented on #159
@sridhargaddam thanks for reporting this bug. It sounds like a small change with large benefit. Since VXLAN is not the default, I don't feel like we should delay the 0.13.0 release because of this, would you agree?

[2022-07-13 07:49] sridhargaddam commented on #159
Agree. No need to delay the 0.13 release

[2022-07-13 11:31] sridhargaddam opened #161 "UI/UX: An empty row is displayed as part of subctl show brokers command"
**What happened**:
This is just a cosmetic issue. In the output of `subctl show brokers` an empty row is displayed as shown below.
For all the other commands like connections, endpoints, gateways, networks etc its displayed properly.
![9](https://user-images.githubusercontent.com/6574656/178724061-866f3d86-eb01-4341-b311-00e21c607ad1.png)

[2022-07-13 14:08] nyechiel commented on #159
@sridhargaddam @tpantelis @skitt FYI, Yossi pushed a PR to address this issue. I have added it to the 0.13 board because we don't have a board for 0.14 as of yet. Just to be explicitly clear - we can get it reviewed/merged for devel, but this should not block or delay 0.13.0.

[2022-07-13 15:45] nyechiel commented on #159
There is actually a new board for 0.14. Moving it.

[2022-07-13 17:39] #161 closed, assigned to maayanf24

[2022-07-14 05:33] Jaanki opened #166 "`subctl join --help` should display default cable driver"
**What happened**:
help on `subctl join` should mention that the default "cable driver" is `libreswan`.

[code]

**What you expected to happen**:
The message should be somthing like this:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose all`):
- Gather information (use `sub

[2022-07-14 07:00] Jaanki opened #167 "`subctl show brokers` output empty on non-broker cluster"
**What happened**:
On a non-broker cluster (cluster2 in this case), `subctl show brokers` doesn't print anything. Just a blank line.
[code]

**What you expected to happen**:
It should print something meaningful like "Broker is not installed on this cluster".

**How to reproduce it (as minimally and precisely as possible)**:
Run `subctl show brokers`

**Anything else we need to know?**:
This also a

[2022-07-15 13:54] skitt commented on #124
Duplicate of #123.

[2022-07-15 13:54] #124 closed, assigned to nobody

[2022-07-19 12:58] Jaanki opened #175 "Add tests for other cable drivers as well"
Currently, subctl tests for default cable driver only. Add tests to run against all PRs for other cable drivers as well.

[2022-07-19 13:49] mkolesnik commented on #32
Subctl is released on https://github.com/submariner-io/releases/releases, any releases in this project are just for testing purposes and thus use "floating tags" but never consumed by users, see https://get.submariner.io/

Any release made here should be ignored if your'e not a developer, and we don't publish any binaries for tags on this repo

[2022-07-19 17:24] tpantelis commented on #175
We decided to run a minimal set of tests in **subctl**. Also [submariner-operator](https://github.com/submariner-io/submariner-operator/blob/devel/.github/workflows/e2e-full.yml) doesn't even run cable driver tests. The **submariner** repo tests all those.

[2022-07-20 10:17] mkolesnik commented on #175
What's the value of having a full e2e matrix?

There's nothing in the e2e tests that actually verifies that any given flag that you set is actually getting deployed (which is a bigger problem but not directly related to this).

You could have simple unit tests to achieve the same goal - see that a flag that you set gets passed down as is to the CR that gets created.
Or if you want you could say th

[2022-07-20 11:44] tpantelis commented on #175
👍

[2022-07-20 16:21] gurnben commented on #32
We have some automation that picks up the latest `subctl` release that's in semver format, but it assumes that the semver tag will be the _only_ tag on a commit.  This automation falls apart when both the non-semver floating tag and the semver release tag point to the same commit, but only when the non-semver floating tag is the newest tag on that commit, so it appears first in the list of `git de

[2022-07-21 07:47] skitt commented on #32
Heh, I thought about suggesting that (`git describe --tags --match 'v*'`) yesterday! If CI is fixed to no longer need this, that’s a much better solution across the board. I’ll let @arewm close this if he agrees it’s no longer needed.

[2022-07-21 12:10] #167 closed, assigned to Jaanki

[2022-07-21 13:22] arewm commented on #32
@gurnben said that the solution I implemented worked on a rerun. Closing.

[2022-07-21 13:22] #32 closed, assigned to nobody

[2022-07-21 16:09] sridhargaddam opened #182 "subctl diagnose deployment should skip diagnose/test pods in its validation"
**What happened**:
Recently we modified the default namespace in `subctl diagnose ...` command to `submariner-operator` to avoid warnings when running on K8s 1.23+ clusters that includes podSecurity admission controller enabled.

While this is fine, if any of the diagnose pods failed to terminate properly (or in the process of getting deleted), `subctl diagnose deployment` is checking the status o

[2022-07-21 19:16] #159 closed, assigned to yboaron

[2022-07-25 05:59] mkolesnik commented on #54
Do we want to backport this (at least to 0.13)?

[2022-07-28 09:49] yboaron commented on #14
We need to decide how to label the nodes in case SM deployed with LB.
Check - https://github.com/submariner-io/submariner/issues/1943

[2022-08-03 11:26] mkolesnik opened #196 "`subctl diagnose` and `subctl gather` don't return error exit code on empty/non-existant `KUBECONFIG`"
**What happened**:
This might go deeper than this (e.g other error situations), but just running these commands with no `KUBECONFIG` set results in exit code 0, but the output indicates error:
[code]

Also, the output gets written to `stdout` while it should go to `stderr`.

**What you expected to happen**:
I expect some exit code other than **0**.

**How to reproduce it (as minimally and precisel

[2022-08-03 15:04] nyechiel commented on #117
Note that this is probably not unique to LB service, and something we should address regardless.

[2022-08-03 17:51] #54 closed, assigned to skitt

[2022-08-04 06:16] yboaron commented on #117
Correct, this is not unique to LB, we are unable to add Submariner Service accounts to privileged SCC users, and the root reason seems to be that the access webhook controller rejects any changes to the privileged SCC

[2022-08-04 06:24] sridhargaddam commented on #117
We can try to identify how users are added when the following command is used and update our Submariner deployment steps accordingly, so that we will have a generic fix for all clusters.

[code]

[2022-08-18 06:04] mkolesnik opened #218 "`show versions` misreports the submariner version"
**What happened**:
Running `join` with **only** image overrides causes versions to be misreported by `subctl show versions`:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
`subctl join --kubeconfig /go/src/github.com/submariner-io/submariner/output/kubeconfigs/kind-config-cluster1 --clusterid cluster1 --image-override submariner-g

[2022-08-18 09:20] mkolesnik commented on #218
This also happens with service discovery.

I'm working on a fix, the output will change slightly (to reflect all component images):
[code]

[2022-08-18 11:17] mkolesnik opened #222 "`devel` version doesn't deploy `devel` images"
**What happened**:
Seems that since https://github.com/submariner-io/submariner-operator/pull/2158, the `devel` version of subctl actually deploys the default image.

**What you expected to happen**:
When using the `devel` version (or stable `release-X.Y` version) it should deploy the cutting edge version.

**How to reproduce it (as minimally and precisely as possible)**:
* `curl -Ls --retry 3 htt

[2022-08-18 13:14] #218 closed, assigned to mkolesnik

[2022-08-18 14:47] #222 closed, assigned to mkolesnik

[2022-08-22 13:47] mkolesnik commented on #117
Do we really want to be touching these pre-requisites on the infra, or can we just have it documented as a pre-requisite and instruct users to do it for installing Sumbariner on ROSA?

[2022-08-22 14:14] sridhargaddam commented on #117
This is not specific to ROSA and we might hit this problem in any OCP cluster where the admission webhook controller is enabled before installing Submariner. If we understand how `oc adm policy add-scc-to-user ...` works in such deployments and tweak Submariner deployment accordingly we will have less pre-requisites from the platform.

[2022-08-22 14:27] yboaron commented on #117
Yeah, don't think it's about infra changes either, it's about making sure that submariner pods have the necessary permissions.
As a short term solution, I guess we can continue with the current approach and document the workaround for the relevant platforms.

[2022-08-22 14:49] yboaron commented on #117
IIUC, [oc adm policy sources](https://github.com/openshift/oc/blob/master/pkg/cli/admin/policy/modify_scc.go#L230), it first creates (if they don't exist yet) clusterrole and clusterrolebinding resources named system:openshift:scc:privileged, (check [1] for more details) and adds a new entry to subjects section in system:openshift:scc:privileged  clusterrolebinding.

I don't think it's a good idea

[2022-08-23 07:30] skitt opened #230 "Add more detail to subctl diagnose connections"
`subctl diagnose connections` reports the current status of the various connections, but that’s not sufficient information when then connections aren’t established. It would be useful if, in the absence of connections, `diagnose connections` could perform tests in the same vein as the firewall tests:

* spawn a pod in each cluster and attempt to connect to the other clusters, reporting the address

[2022-08-23 07:41] sridhargaddam commented on #230
Currently, `subctl diagnose connections` is executed on a single cluster (taking kubeconfig of local cluster) and reports the status of connections on the Gateway node of the cluster.

If we want to enhance it as described in this issue, we will require kubeconfigs of multiple clusters similar to `firewall inter-cluster ...` command. Shall we rather enhance `subctl diagnose firewall nat-discovery

[2022-08-23 08:01] skitt commented on #230
Putting this in the `firewall` command suggests that it’s firewall-related, which it isn’t really. (Firewall issues can cause the connections problems we’re trying to diagnose, but they’re not the only possible cause.)

To avoid changing the current `subctl diagnose connections` requirements, I’d rather have it so that if `subctl diagnose connections` reports failed connections (of any kind, _i.e.

[2022-08-23 11:46] sridhargaddam commented on #230
The Auto-NAT discovery code does pretty much the same and updates the `gateways.submariner.io` object with `usingIP` which informs us the ip-address that was reachable. The auto-NAT discovery code is now stable and if it fails, my main suspicion would be on the firewall configuration.

By mismatched NAT configuration do you mean a user configuring a wrong value for (--natt) which does not match wi

[2022-08-23 17:34] #166 closed, assigned to Jaanki

[2022-08-30 11:49] #130 closed, assigned to vthapar

[2022-08-31 11:16] mkolesnik opened #245 "Missing permission to get namespaces for `subctl diagnose` run in job"
**What happened**:
[code]
https://github.com/submariner-io/subctl/runs/8060188153?check_suite_focus=true#step:4:3637

**What you expected to happen**:
Should work

**How to reproduce it (as minimally and precisely as possible)**:
Run `subctl diagnose all` inside a job, as instructed on the website.

**Anything else we need to know?**:

**Environment**:
- Diagnose information (use `subctl diagnose

[2022-09-01 10:15] skitt opened #247 "Firewall tests always wait for the timeout"
`subctl diagnose` firewall tests always wait for the timeout; they should stop as soon as the test traffic is received.

[2022-09-02 15:46] #247 closed, assigned to nobody

[2022-09-04 10:58] mkolesnik commented on #245
Seems this was already fixed by https://github.com/submariner-io/submariner-operator/commit/ee226940d3cf94a6883bd53674e294d5b3aeeb60

[2022-09-04 10:58] #245 closed, assigned to nobody

[2022-09-06 09:13] yboaron commented on #117
[1] is the relevant SCC validation PR (for managed clusters)

[1]
https://github.com/openshift/managed-cluster-validating-webhooks/pull/176

[2022-09-15 10:46] mkolesnik opened #267 "Add `subctl diagnose pre-install`"
**What would you like to be added**:
Add a `subctl diagnose pre-install` command which checks that the infrastructure supports installing Submariner by checking:

* Gateway nodes are set-up.
  * Kube proxy, if there, doesn't run in IPVS mode - as it's currently not supported.
* The broker is reachable from the cluster.
* K8s version is supported.
* The CNI is supported.
* Conflicts with existing c

[2022-09-15 10:47] mkolesnik commented on #267
Enhancement proposal @ https://github.com/submariner-io/enhancements/pull/134

[2022-09-19 16:28] #117 closed, assigned to nobody

[2022-09-20 07:08] mkolesnik commented on #182
This was fixed by #183

[2022-09-20 07:08] #182 closed, assigned to nobody

[2022-09-22 13:51] skitt opened #276 "Add a three-context variant for subctl verify"
**What would you like to be added**:

`subctl verify` should support three contexts.

**Why is this needed**:

Some Lighthouse tests only run if three contexts are available; it would be good to be able to run them using `subctl verify`.

[2022-09-22 13:52] skitt commented on #276
For QE purposes it would also be useful to run (optionally?) all two-context tests over all pairs of contexts, when more than two contexts are available.

[2022-09-23 14:02] mikenorgate opened #278 "nodeSelector support during deployment for mixed node clusters"
**What would you like to be added**:
Add ability to specify `nodeSelector` during deployment

**Why is this needed**:
When deploying into a cluster container a mixture of Windows and Linux nodes I would like to be able to specify a `nodeSelector` with a value of `kubernetes.io/os: linux` to make sure the submariner pods are scheduled to the correct nodes

[2022-09-27 13:23] dfarrell07 commented on #38
Maybe this should be a different issue and we can close this one, which is actually done?

[2022-09-27 13:25] dfarrell07 commented on #63
This seems to have been fixed, the job is now passing.

[2022-09-27 13:25] #63 closed, assigned to nobody

[2022-09-27 13:30] dfarrell07 commented on #35
I think we can do https://github.com/submariner-io/shipyard/issues/764 by uploading the gather files to GH, we don't need to dump them to the logs. Scrub thinks we should close this.

[2022-09-27 13:30] #35 closed

[2022-09-28 13:40] mkolesnik commented on #48
This has been fixed by https://github.com/submariner-io/submariner-operator/pull/2169

[2022-09-28 13:40] #48 closed, assigned to tomer-shefler, mkolesnik, mrgrieves8

[2022-10-17 08:07] skitt opened #300 "Allow specifying the broker API endpoint"
In some cases, the API endpoint determined from the kubeconfig used to install the broker isn’t usable for the clusters (see https://github.com/submariner-io/submariner-operator/issues/2261 for example).

It should be possible to manually specify the broker API endpoint to use.

[2022-10-20 15:48] sridhargaddam opened #313 "subctl verify should support overriding the nettest image path"
**What would you like to be added**:
Currently, when `subctl verify ...` command is executed, it pulls the nettest image from `"quay.io/submariner/nettest:devel"`. It would be helpful to provide an option to override this image with some custom image.

[2022-10-20 18:35] tpantelis commented on #129
The permissions have been addressed and we have a [system test](https://github.com/submariner-io/subctl/pull/240) to verify it.

[2022-10-20 18:35] #129 closed, assigned to vthapar

[2022-10-20 19:02] tpantelis commented on #230
With https://github.com/submariner-io/subctl/pull/286 it now prints the full `Connection` object. Perhaps that suffices for the use cases mentioned above.

[2022-10-25 11:22] #196 closed, assigned to skitt

[2022-10-25 11:50] skitt opened #322 "subctl deploy-broker should support --namespace"
Instead of a specific `--broker-namespace` option, it should use the common `--namespace` option.

[2022-10-25 14:45] skitt opened #324 "In-cluster subctl should take the -n option into account"
Currently, in-cluster `subctl` uses the default namespace. It should allow that to be overridden using `-n`.

[2022-10-25 14:46] skitt opened #325 "subctl diagnose mis-handles its namespace option"
In `subctl diagnose`, the namespace option is defined in several places; it should use the `clientcmd`-handled option instead, and drop `FirewallOptions.PodNamespace` entirely.

[2022-10-26 07:33] skitt opened #327 "The “Submariner not installed” message is misleading"
When service discovery is installed without connectivity, various diagnostic sub-commands show “Submariner not installed” which is confusing — users wonder whether there’s something wrong (since service discovery is part of Submariner, as far as they’re concerned).

We should change the message to make it specifically about connectivity.

[2022-10-27 12:53] #325 closed, assigned to skitt

[2022-10-27 14:27] skitt commented on #37
This has been fixed by #242.

[2022-10-27 14:27] #37 closed

[2022-10-31 15:32] skitt opened #345 "System tests should use a function"
Many system tests use a pattern like

    … | tee /dev/stderr | (sponge ||:) | grep -q …

(or `-qv` in the last step).

This should be turned into a function to avoid all the repetition and to simplify changes such as #344.

[2022-10-31 18:53] nyechiel opened #348 "OCP 4.12: `subctl diagnose` shows pod security warnings"
- `subctl`-based deployment on top of OCP 4.12 (k8s 1.25) clusters using `0.14.0-rc1`
- Installation seems to be working fine; IPsec connections are up
- `subctl diagnose all` shows the following warnings:

[code]

[2022-10-31 19:22] nyechiel commented on #348
Likely related to https://github.com/submariner-io/shipyard/issues/1006

[2022-11-01 18:05] tpantelis commented on #348
The warning emanates from [here](https://github.com/submariner-io/subctl/blob/fd4d699fee3c9373ab2612dcfda7b6075360fcd2/internal/pods/schedule.go#L291), ie if any of the `pod-security.kubernetes.io/...` labels are missing or are not set to "_privileged_". It reports that two of them are missing or not set correctly on the `submariner-operator` namespace, ie only `pod-security.kubernetes.io/enforce`

[2022-11-02 08:21] nyechiel commented on #348
[code]

[2022-11-02 13:34] yboaron opened #1417 "Update subctl cloud prepare for various clouds like AWS/GCP/Azure/OSP to support load-balancer mode"
When Submariner is being deployed using LoadBalancer service there is no need to create infrastructure resources (for example SG) to allow N/S traffic.

Subctl Prepare needs to be updated to support Submariner
deployment with LoadBalancer service.

[2022-11-03 15:00] #322 closed, assigned to skitt

[2022-11-03 15:25] nyechiel commented on #230
@skitt what do you think?

[2022-11-03 15:46] skitt commented on #230
I’m not sure, I need to test the scenario again.

[2022-11-04 03:55] #348 closed, assigned to tpantelis

[2022-11-07 08:56] mkolesnik commented on #313
Specifically it takes the image version based on the subctl compilation, so for branches it's based on branch name while for releases it'll use the release version.

With #316 merged, it should now take the nettest image based on the overrides, so it is possible to specify a custom image using the overrides flag when deploying Submariner.(or later by editing the CR).

We could, additionally, speci

[2022-11-07 10:18] sridhargaddam opened #363 "Passing individual kubeconfigs to subctl verify does not seem to work"
**What happened**:
With the recent changes to kubeconfig handling in subctl, when we try running `subctl verify ...` passing individual kubeconfigs is not working. However, if we use the new format (--context and --tocontext) it works fine.

[code]

Working scenario:

[code]

**Environment**:
- Cloud provider or hardware configuration: OCP 4.11 on GCP Cloud
- Install tools: subctl version 0.14.0-r

[2022-11-08 10:19] #363 closed, assigned to skitt

[2022-11-08 14:03] dfarrell07 commented on #139
Talking to @Jaanki, this is actually working as it's supposed to. Closing.

[2022-11-08 14:03] #139 closed, assigned to nobody

[2022-11-08 14:11] dfarrell07 commented on #134
Sorry for missing this! We need to decide if we have devs with resources to support K3s well, currently we don't really seem to. Raised https://github.com/submariner-io/submariner/issues/2108 to track.

[2022-11-08 14:12] dfarrell07 commented on #134
If you still want to try with K3s maybe let's discuss there or on Slack, but for now closing this.

[2022-11-08 14:12] #134 closed, assigned to nobody

[2022-11-08 14:15] dfarrell07 commented on #131
Talking about this on the scrub, this still seems useful. Might also be good to expose a more clean way to run specific tests once verify shows the names of the tests (not just test suites as we do now). Would help with debugging, to have fewer logs.

[2022-11-12 14:32] cgruver commented on #67
I'm going to test this with v0.13.1 and will close if resolved.

[2022-11-15 11:44] sridhargaddam commented on #363
Verified this on a KIND based setup with 0.14.0-rc3 subctl image and it works fine.

[2022-11-16 06:41] nyechiel commented on #49
@skitt I think this is done now?

[2022-11-16 10:43] skitt commented on #49
Not yet; it’s easy now, but it’s not done.

[2022-11-22 14:05] dfarrell07 commented on #158
It would be cool if we had a cloud-prepare-info.subm file or a way for join to query the cloud settings so users don't have to track this, it's handled more automatically. Idea via @skitt

[2022-11-29 14:21] dfarrell07 commented on #175
Discussing on the PR scrub, it seems to make sense to have system tests in the operator to verify cable drivers we request are deployed and/or to have unit tests in subctl to verify the submariner object's cable driver flag is set properly.

[2022-11-29 14:26] dfarrell07 opened #408 "Improve subctl unit tests"
Now that we have SonarCloud to better see coverage, it's clear that subctl is the main gap. We currently ahve 4.6% coverage.

https://sonarcloud.io/component_measures?id=submariner-io_subctl&metric=new_coverage&view=list

Add unit tests to get coverage up, maybe targeting 70ish%. This can be split into smaller issues, maybe this should be treated as an epic.

[2022-11-29 14:26] dfarrell07 commented on #175
Unit test part: https://github.com/submariner-io/subctl/issues/408

[2022-11-29 14:37] dfarrell07 commented on #175
System tests: https://github.com/submariner-io/submariner-operator/issues/2373

[2022-11-29 14:37] #175 closed, assigned to nobody